<!DOCTYPE html>
<html>
  <head>
    <title>Find Your Twin</title>
    <style>
    header{
  font-family: "Comic Sans MS", sans-serif;
  padding: 15px;
  margin: 10px 0;
   }
   </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" type="image/png" href="../images/fav.ico">
  </head>
  <body>
    <div class="container">
        <% if ( text ) {%>
          <br>
          <div class="alert alert-success" role="alert" align="center" id="close">
            <h4><%= text %></h4>
          </div>
          <% } %>
        </div>
        <header>
    <h1>  Welcome to Find Your Twin</h1>
    <h5>  Answer 10 questions and know the person with same thought process as you</h5>
  </header><hr>
    <form action="/saveform" method="POST" id="foo">
            <!-- Question 1 -->
            <div class="box">
                <h3> 1. What is the one super power, you wish to have?</h3>
                <label> <input type="radio" name="optq1" value="a"/>  Invisibility</label><br>
                <label> <input type="radio" name="optq1" value="b"/>  Able to fly</label><br>
                <label> <input type="radio" name="optq1" value="c"/>  Super human strength</label><br>
                <label> <input type="radio" name="optq1" value="d"/>  To read others mind</label><br>
                <label> <input type="radio" name="optq1" value="e"/>  Super intelligence</label><br>
            </div>
            <!-- Question 2 -->
            <div class="box">
                <h3> 2. One of the five senses will be lost forever & which one will you choose?</h3>
                <label> <input type="radio" name="optq3" value="a"/>  Sight</label><br>
                <label> <input type="radio" name="optq3" value="b"/>  Hear</label><br>
                <label> <input type="radio" name="optq3" value="c"/>  Taste</label><br>
                <label> <input type="radio" name="optq3" value="d"/>  Touch</label><br>
                <label> <input type="radio" name="optq3" value="e"/>  Smell</label><br>
            </div>
            <!-- Question 3 -->
            <div class="box">
                <h3> 3. Which animal represents you?</h3>
                <label> <input type="radio" name="optq2" value="a"/>  Cat</label><br>
                <label> <input type="radio" name="optq2" value="b"/>  Monkey</label><br>
                <label> <input type="radio" name="optq2" value="c"/>  Dog</label><br>
                <label> <input type="radio" name="optq2" value="d"/>  Lion</label><br>
                <label> <input type="radio" name="optq2" value="e"/>  Honey Bee</label><br>
                <label> <input type="radio" name="optq2" value="f"/>  Owl</label><br>
                <label> <input type="radio" name="optq2" value="g"/>  Cow</label><br>
            </div>
            <!-- Question 4 -->
            <div class="box">
                <h3> 4. Who is the person who knows most of your secrets?</h3>
                <label> <input type="radio" name="optq5" value="a"/>  None</label><br>
                <label> <input type="radio" name="optq5" value="b"/>  My Mother/Father</label><br>
                <label> <input type="radio" name="optq5" value="c"/>  A Sibling</label><br>
                <label> <input type="radio" name="optq5" value="d"/>  A Friend</label><br>
                <label> <input type="radio" name="optq5" value="e"/>  Lover</label><br>
            </div>    
            <!-- Question 5 -->
            <div class="box">
                <h3> 5. If you are a crayon, which color you would be?</h3>
                <label> <input type="radio" name="optq4" value="a"/>  White</label><br>
                <label> <input type="radio" name="optq4" value="b"/>  Black</label><br>
                <label> <input type="radio" name="optq4" value="c"/>  Blue</label><br>
                <label> <input type="radio" name="optq4" value="d"/>  Orange</label><br>
                <label> <input type="radio" name="optq4" value="e"/>  Pink</label><br>
                <label> <input type="radio" name="optq4" value="f"/>  Purple</label><br>
                <label> <input type="radio" name="optq4" value="g"/>  Red</label><br>
                <label> <input type="radio" name="optq4" value="h"/>  Brown</label><br>
                <label> <input type="radio" name="optq4" value="i"/>  Yellow</label><br>
                <label> <input type="radio" name="optq4" value="j"/>  Green</label><br>
                <label> <input type="radio" name="optq4" value="k"/>  Gold</label><br>
                <label> <input type="radio" name="optq4" value="l"/>  Silver</label><br>
                <label> <input type="radio" name="optq4" value="m"/>  Grey</label><br>
            </div>
            <!-- Question 6 -->
            <div class="box">
               <h3> 6. You spend most of the time by?</h3>
            <label> <input type="radio" name="optq9" value="a"/>  Reading a book</label><br>
            <label> <input type="radio" name="optq9" value="b"/>  Watching a TV show</label><br>
            <label> <input type="radio" name="optq9" value="c"/>  Watching a movie</label><br>
            <label> <input type="radio" name="optq9" value="d"/>  Playing a indoor game</label><br>
            <label> <input type="radio" name="optq9" value="e"/>  Playing a outdoor game</label><br>
            <label> <input type="radio" name="optq9" value="f"/>  Chatting</label><br>
            <label> <input type="radio" name="optq9" value="g"/>  Roaming</label><br>
            <label> <input type="radio" name="optq9" value="h"/>  Listening music</label><br>
            <label> <input type="radio" name="optq9" value="i"/>  Browsing internet</label><br>
           </div>
            <!-- Question 7 -->
            <div class="box">
                <h3> 7. What is your favourite goto place?</h3>
                <label> <input type="radio" name="optq7" value="a"/>  A park</label><br>
                <label> <input type="radio" name="optq7" value="b"/>  A beach</label><br>
                <label> <input type="radio" name="optq7" value="c"/>  A club</label><br>
                <label> <input type="radio" name="optq7" value="d"/>  A library</label><br>
                <label> <input type="radio" name="optq7" value="e"/>  A temple</label><br>
            </div>
            <!-- Question 8 -->
           <div class="box">
               <h3> 8. If following are in trouble, Who would you help first?</h3>
            <label> <input type="radio" name="optq10" value="a"/>  A baby</label><br>
            <label> <input type="radio" name="optq10" value="b"/>  An old person</label><br>
            <label> <input type="radio" name="optq10" value="c"/>  A handicapped person</label><br>
            <label> <input type="radio" name="optq10" value="d"/>  A friend</label><br>
            <label> <input type="radio" name="optq10" value="e"/>  An animal</label><br>
           </div>
           <!-- Question 9 -->
           <div class="box">
                <h3> 9. Which person do you like the most?</h3>
                <label> <input type="radio" name="optq6" value="a"/>  An Actor</label><br>
                <label> <input type="radio" name="optq6" value="b"/>  A Scientist</label><br>
                <label> <input type="radio" name="optq6" value="c"/>  A Politician</label><br>
                <label> <input type="radio" name="optq6" value="d"/>  A Sportsman</label><br>
                <label> <input type="radio" name="optq6" value="e"/>  A revolutionist</label><br>
            </div>
           <!-- Question 10 -->
           <div class="box">
            <h3> 10. What is the craziest thing you have ever done?</h3>
            <label> <input type="radio" name="optq8" value="a"/>  Extreme sport like skydiving</label><br>
            <label> <input type="radio" name="optq8" value="b"/>  Spontaneous actions like sudden journey to unknown place</label><br>
            <label> <input type="radio" name="optq8" value="c"/>  Law-breaking like stealing</label><br>
            <label> <input type="radio" name="optq8" value="d"/>  Dangerous like walking on red-hot coals</label><br>
            <label> <input type="radio" name="optq8" value="e"/>  I don't do crazy things</label><br>
           </div>
           <br>
           <h3> Enter your Mail id: <input type="text" name="email" placeholder="example@gmail.com" required/></h3><br>
           <h4><b> Note:</b> Once submited, cannot be edited....<br><br>
           <div class="sub">
            <input type="submit" class="w3-button w3-round w3-blue" value="submit">
            </div>
    </form>
    <script>
        setTimeout(function(){
            document.getElementById('close').style.display = 'none';
        },5000);
    </script>
  </body>
</html>
