<!DOCTYPE html>
<html>
  <head>
    <title>Find Your Twin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
      <div align="">
        <h1>Welcome to Find Your Twin.</h1><br>
        <h3>Wanna Know Who <b>She/He</b> Is....?</h3><br>
        <input type="button" class="w3-button w3-round w3-white" onclick="location.href='/form'" value="Find My Twin" />
      </div>
  </body>
</html>
