<!DOCTYPE html>
<html>
<head>
    <title>
        Find Your Twin
    </title>
</head>
<body>
    <div align="center">
        <h1>Thank you...:)<br>Your response is saved.</h1>
        <h3>You can now exit from this page.</h3>
    </div>
     <br>
        {{pred}}
        <br>
    <script src="../javascript/block.js"></script>
</body>
</html>
