body {
  padding: 50px;
}
h1 , h3{
  font-size: 3rem!important;
}
h2{
  color: black;
  ;
}
label{
  padding-left: 40px;
  font-size: 2rem!important;
}

}
div{
  padding-top: 5rem;
  display: block;
}
a {
  color: #00B7FF;
}
